.add-container {
    text-align: center;
}

.add-variant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-add-product {
    height: 58px;
    width: 100px;
    background-position: center;
    background-size: 100%;
    background-repeat: repeat-x;
    background-image: url("../../img/btnbg.png");
    text-align: center;
}

.btn-add-product:hover {
    background-image: url("../../img/btnbg-hover.png");
}

.btn-add-product p {
    font-family: "Crimson Text", serif;
    color: white;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

.add-quantity {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add-quantity button {
    width: 25px;
    border-radius: 0.5rem;
    background-color: #ab8854;
    font-weight: bolder;
}


.add-quantity p {
    color: white;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 0.3rem;
    padding: 0 10px;
}

.remove {
    border-radius: 0.3rem;
    background-color: #ab8854;
    font-weight: bolder;
    width: 100px;
    margin-top: 2px;
    font-family: "Crimson Text", serif;
}

.add-quantity button:hover, .remove:hover {
    background-color: #5a482c;
    color: white;
}