.wizard-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    margin-bottom: 5vw;
}

.wizard-image {
    background-color: #ab8854;
    border: solid 4px white;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
}

.wizard-text {
    height: 100px;
    width: 270px;
    padding: 2% 0;
    background: linear-gradient(90deg, rgba(171,136,84,1) 0%, rgba(171,136,84,0.7455357142857143) 25%, rgba(171,136,84,0.5) 50%, rgba(171,136,84,0.25) 75%);
    border: 2px white solid;
    margin-left: 35px;
    padding-left: 80px;
    border-right:#f0c687 solid 1.5px;
    border-bottom: #ab8854 solid 1px;
}

.wizard-title h3 {
    font-family: 'Rye', cursive;
    font-size: 15px;
    padding-right: 2px;
    color: whitesmoke;
    border-bottom: #f0c687 solid 1px;
}

.wizard-title p {
    font-family: 'Rye', cursive;
    padding: 2px 2px 0 0;
    font-size:x-small;
    color: #f0c687;
}

.btn-saber-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    position: relative;
    bottom: 8px;
}

@media (min-width: 900px) {
    .wizard-card {
        width: 600px;
        margin-bottom: 5vw;
    }
    
    .wizard-image {
        width: 224px;
        height: 224px;
    }
    
    .wizard-text {
        height: 200px;
        width: 540px;
        padding: 2% 0;
        margin-left: 70px;
        padding-left: 160px;
    }
    
    .wizard-title h3 {
        font-size: 30px;
        padding-right: 4px;
    }
    
    .wizard-title p {
        font-family: 'Rye', cursive;
        font-size: larger;
        padding-top: 10px;
        padding-right: 20px;
        color: #f0c687;
    }
    
    .btn-saber-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        position: relative;
        bottom: 8px;
    }
}