.cart {
    width: 100%;
    height: 80vh;
    z-index: -2;
    position: absolute;
    padding: 5%;
}

.cart-sup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.cart-sup h2 {
    padding: 0 0 0 15px;
    font-size: x-large;
    text-align: start;
}

.cart-sup img {
    height: 80px;
}

tbody tr {
    height: 100px;
}

.add-quantity {
    justify-content: center;
}

tfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 0 10% 0;
}

.btn-eliminar {
    background-color: #634f31;
    color: white;
    height: 35px;
    width: 35px;
    border-radius: 0.5em;
}

.comprar-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.return.btn-comprar {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    padding: 5px;
    border: #ab8854 3px dotted;
    border-radius: 50%;
}

.btn-comprar img {
    object-fit: contain;
}

.table-foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-empty {
    width: 65px;
    padding: 5px;
    border-radius: 50%;
}

.btn-empty img {
    object-fit: contain;
    height: 100%;
    border-radius: 50%;
}
