.cart {
    width: 100%;
    height: 80vh;
    z-index: -2;
    position: absolute;
    padding: 5%;
}

tfoot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 0;
}

.btn-eliminar {
    background-color: #634f31;
    color: white;
    padding: 10px;
    border-radius: 0.5em;
}