.nosotros-page {
    width: 100%;
    z-index: -2;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(15,11,8,1) 13%, rgba(45,17,36,1) 24%, rgba(47,42,91,1) 50%, rgba(50,49,96,1) 64%, rgba(88,59,92,1) 80%, rgba(122,63,89,1) 91%);
    padding: 3vw;
}

.nosotros-titulo {
    margin-top: 3vw;
}

.nosotros-answer {
    border: #ab8854 dashed 1px;
    background-color: #20082067;
    color:#ab8854;
    text-align: center;
    padding: 1vw 7vw;
    margin: 1vw;
}

.title .nosotros-answer p {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 1.8vw;
    line-height: normal;
}

.magos-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vw 5vw;
    border-bottom:#ab8854 1px dashed;
}

.magos-title h3 {
    font-family: 'Rye', cursive;
    color:#f0c687;
    font-size: 5vw;
    text-align: center;
    line-height: 5vw;
    width: 50%;
}

.magos-title img {
    width: 25%;
}

.potioneers-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4vw 0;
    gap: 2vw;
}

.wizard-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    margin-bottom: 5vw;
}

.wizard-image {
    background-color: #ab8854;
    border: solid 4px white;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
}

.wizard-text {
    height: 100px;
    width: 270px;
    padding: 2% 0;
    background: linear-gradient(90deg, rgba(171,136,84,1) 0%, rgba(171,136,84,0.7455357142857143) 25%, rgba(171,136,84,0.5) 50%, rgba(171,136,84,0.25) 75%);
    border: 2px white solid;
    margin-left: 35px;
    padding-left: 80px;
    border-right:#f0c687 solid 1.5px;
    border-bottom: #ab8854 solid 1px;
}

.wizard-title h3 {
    font-family: 'Rye', cursive;
    font-size: 15px;
    padding-right: 2px;
    color: whitesmoke;
    border-bottom: #f0c687 solid 1px;
}

.wizard-title p {
    font-family: 'Rye', cursive;
    padding: 2px 2px 0 0;
    font-size:x-small;
    color: #f0c687;
}

.btn-saber-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    position: relative;
    bottom: 8px;
}

@media (max-width: 480px) {
    .productos-titulo.nosotros-titulo {
        flex-direction: column;
    }

    .title .nosotros-answer p {
        font-size: 3.8vw;
    }
}

@media (min-width: 900px) {
    .wizard-card {
        width: 600px;
        margin-bottom: 5vw;
    }
    
    .wizard-image {
        width: 224px;
        height: 224px;
    }
    
    .wizard-text {
        height: 200px;
        width: 540px;
        padding: 2% 0;
        margin-left: 70px;
        padding-left: 160px;
    }
    
    .wizard-title h3 {
        font-size: 30px;
        padding-right: 4px;
    }
    
    .wizard-title p {
        font-family: 'Rye', cursive;
        font-size: larger;
        padding-top: 10px;
        padding-right: 20px;
        color: #f0c687;
    }
    
    .btn-saber-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        position: relative;
        bottom: 8px;
    }

}


