.checkout-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.cart-sup h3 {
    padding: 0 0 0 15px;
}

.return {
    display: flex;
    height: 80px;
}

.return img {
    object-fit: contain;
}

.purchase-form {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-bottom: 5%;
}

.checkout-form {
    border-top: #ab8854 1px solid;
    padding: 20px 0 10% 0;
    width: 60%;
}

.chakra-input.css-1kp110w, .chakra-input__group.css-4302v8 {
    margin-bottom: 15px;
}

.products-list {
    width: 40%;
}

#swal2-title.swal2-title {
    color:#e2c394;
    margin: 15px 0 0;
    padding: 0 0 10px;
}

div#swal2-html-container.swal2-html-container {
    padding: 20px;
}

#swal2-html-container.swal2-html-container ul {
    text-align: start;
    padding-left: 5%;
}

#swal2-html-container.swal2-html-container span {
    color: #e2c394;
}

.swal2-popup.swal2-modal.swal2-show {
    background-color: #270e22;
}

#swal2-html-container.swal2-html-container {
    color: #cca66c;
    font-size: larger;
    margin: 0;
    padding: 10px;
    border-top: #cca66c 2px solid;
}

button.swal2-confirm.swal2-styled, button.swal2-cancel.swal2-styled {
    background-color: #ab8854;
    font-weight: bold;
    color: #270e22;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 5px;
}

.buy-end {
    background-color: #ab8854;
    color:#270e22;
    font-family: 'Rye';
    margin-top: 5%;
    padding: 8px;
    border-radius: 0.5rem;
}

button.swal2-confirm.swal2-styled:hover, button.swal2-cancel.swal2-styled:hover, .buy-end:hover {
    background-color: #866b42;
    color: white;
}
{
    background-color: #866b42;
    color: white;
}


@media (max-width: 480px) {
    .checkout-header .cart-sup img {
        height: 60px;
    }
    
    .checkout-title h2 {
        font-size: medium;
    }

    .checkout-title h3 {
        font-size: small;
    }

    .chakra-radio__label.css-14iyyou {
        font-size: small;
    }
}

@media (max-width: 768px) {
    .purchase-form {
        flex-direction: column-reverse;
    }

    .checkout-form {
        width: 100%;
    }

    .products-list {
        width: 100%;
    }
}