nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    background-color: black;
}

.titulo-container {
    height: 20vh;
}

.logo-caldero {
    height: 100%;
    object-fit: contain;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw;
    gap: 0.5vw;
}

.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    margin: 0 1vw;
}

.nav-link {
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    color: #ab8854;
    text-align: center;
    cursor: pointer;
}

.nav-link.active {
    color: rgb(194, 189, 189);
}

.nav-link:hover {
    border-bottom: solid 3px #A98754;
    color: white;
    font-weight: bold;
}

.hamburger-menu {
    background-color: transparent;
    border-radius: 0.5rem;
    border: solid 1px #A98754;
    cursor: pointer;
    height: 10vw;
    padding: 1vw;
    display: none;
}

.icono-menu {
    width: 8vw;
    height: 8vw;
    color: #A98754;
    padding: 1 vw;
}

@media (max-width: 768px) {

    .navbar-container {
        gap: 2vw;
    }

    .nav-menu {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5vh;
        background-color: #343434;
        width: 100%;
        position: absolute;
        top: -100vh;
        left: 0%;
        z-index: -1;
        height: 30vh;
        margin: 0;
        transition: 0.5s ease-in-out;
    }

    .nav-menu.active {
        top: 20vh;
    }

    .navbar-container li {
        padding-left: 2vh;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
    }
}
